body {
  margin: 0;
  background-color: rgb(46, 46, 46);
  color: white;
}

html {
  background-color: rgb(46, 46, 46);
}

.video-player {
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgb(2, 3, 2);
  width: 80vw;
  height: 45vw;
}
@media screen and (max-width: 800px) {
  .video-player {
    width: 75vw;
    height: 42.1875vw;
  }
}
@media screen and (max-width: 400px) {
  .video-player {
    width: 70vw;
    height: 39.375vw;
  }
}
.video-player-wrapper {
  display: flex;
  position: relative;
  margin-top: 20px;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.start-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1000000000;
  transition: 0.4s;
  transform: translateY(0);
  position: absolute;
  width: 100%;
  background-color: rgb(46, 46, 46);
}

.start-panel.started {
  transition: 0.4s;
  transform: translateY(-1000vh);
  z-index: -10;
}

.app-content .heading {
  text-align: center;
  font-size: calc(26px + 4vw);
  margin: 0;
  margin-top: 20px;
}
.app-content .subheading {
  text-align: center;
  font-size: calc(15px + 2vw);
  margin-top: 0;
}

.app-content .subsubheading {
  text-align: center;
  font-size: calc(13px + 1vw);
  margin-top: 0;
}

.rickroll-gif {
  height: 100vh;
  width: 99vw;
  object-fit: cover;
  object-position: center center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    cursor: default;
    pointer-events: none;
    transform: translateY(100%);
  }
  99% {
    cursor: default;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
    transform: translateY(0%);
    transition: 0.2s;
  }
}

.start-button {
  animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s fadeIn;
  animation-play-state: running;
  cursor: pointer;
}
